build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json
Makefile
*.cmake.user
*.pro.user
*.pro.user.*
*.obj
*.o
*.lo
*.la
*.a
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb
*.idb
*.manifest
*.ncb
*.sdf
*.opensdf
*.suo
*.user
*.user.*
*.autosave
*.tmp
*.log
*.qtc_clangd/
*.qm
*.qrc.depends
*.moc
*.rcc
*.uic
.vs/
.idea/
Thumbs.db
Desktop.ini
